# Fichiers système
.DS_Store

# Dépendances Node.js
node_modules
Competence/node_modules
/build
/.svelte-kit

# Fichiers de configuration
/package
.env
.env.*
!.env.example
vite.config.js
vite.config.ts
timestamp-*

# Fichiers spécifiques à SvelteKit (ajoutez d'autres si nécessaire)
Competence/.svelte-kit/ambient.d.ts
